:root {
  --card-gap: 20px;
}

.wishlistPage {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.wishlistHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.wishlistHeader h1 {
  font-size: 2rem;
}

.wishlistListSection {
  margin-top: 2rem;
}

.wishlistSection {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 2px solid #444;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
  align-items:flex-start
}

/* .cardGrid > div:last-child {
  margin-left: calc(var(--card-gap) - (var(--card-gap) - 10px));
} */

.newListForm {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.newListForm input {
  padding: 0.5rem;
  font-size: 1rem;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.newListForm button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #262626;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.newListForm button:hover {
  background-color: #444;
}

.addCardToWishlist {
  display: flex;
  position: relative;
  transition: all 0.2s ease-out;
}

.addCardToWishlist.active {
  background-color: rgba(0, 0, 0, 0.60);
  padding: 20px 20px 30px 30px;
  transition: all 0.2s ease-in;
}