#deckPage {
    display: flex;
    gap: 20px;
}

#deckManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .35);
    border-radius: 15px;
    max-width: 90%;
    width: 1860px;
    padding: 50px;;
}

section#decklistOverview {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(0, 0, 0, .35); */
    border-radius: 15px;
    width: 100%;
}

section#decklistOverview ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-gap: 20px;
    width: 100%;
}

section#decklistOverview ul li {
    list-style-type: none;
    flex: 1;
    text-align: center;
}

li.deckCardItem:hover button.toggleShowcased {
    display: inline-block;
}

button.toggleShowcased {
    /* background: red; */
    position: absolute;
    background-color: #803373;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3) inset;
    top: 0;
    right: 6;
    border: none;
    border-radius: none;
    font-size: 1.8em;
    color: rgb(206, 174, 87);
    border-radius: 0;
    padding: 25px 15px;
    --c: 20%; /* control the curvature (works with percentage) */
    mask: radial-gradient(70% var(--c) at bottom,#0000 calc(100% - 2px),#000);
}

button.toggleShowcased:not(.showcased) {
    display: none
}

